.card-button-cancel {
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #fff;
    font-weight: bold;
    padding: 10px;
    
}
